{% extends "index.html" %}
{% block content %}
<div class="container">
    <h1 class="mb-3">Posts by {{ view.kwargs.username }}</h1>
    {% for post in posts %}
    <article class="media blog-content row mt-3">
        <img class="rounded-circle col-6" src="{{ post.author.profile.image.url }}" alt="profile pic" style="width: 90; height: 60;">
        <div class="media-body col-6">
            <div class="articles-metadata">
                <a href="{% url 'user-posts' post.author.username%}">{{ post.author }} </a>
                <small class="text-muted">{{ post.date_posted|date:" F d, Y" }}</small>
                {% if post.author == user %}
                    <a href="{% url 'post-update' post.id %}">Update</a>
                    <a href="{% url 'post-delete' post.id %}">Delete</a>
                {% endif %}
            </div>
            <h2 class="article-titles"><a href="{% url 'post-detail' post.id %}" class="article-title">{{ post.title }}</a></h2>
            <p>{{ post.content|linebreaksbr }}</p>
        </div>        
    </article>
    {% endfor %}
</div>
{% endblock %}